h1 {
    color: green;

}

h2 {
    color: brown;

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i {
    color: brown;
}

u {
    color: cadetblue;
}

b {
    color: sandybrown;
}