html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: rgba(255, 10, 55, 0,5);
    font-family: monospace;
}


body {
background-image: url(./cing.jpg);
background-repeat: repeat;
background-size: 200px ;
    /*background: linear-gradient(90deg rgba(343, 70, 678, 0,4.) rgba);*/
}

p {
    color: rebeccapurple;
}

footer {
    color: orangered;
    background-color: black;
}

.bg-title {
    background-color: black;
}


