body {
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    margin: 0;
    color: #0f172a
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 20px
}

/* HEADER */
.site-header {
    background: transparent
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0
}

.logo {
    font-weight: 700;
    color: #0f172a
}

.nav a {
    margin: 0 12px;
    color: var(--muted);
    text-decoration: none;
    font-weight: 500
}

.button-contact {
    border: 1px solid var(--primary);
    padding: 8px 14px;
    border-radius: 10px;
    color: var(--primary);
    text-decoration: none
}

/* HERO */
.isi {
    padding: 60px 0;
    background-color: rgba(245, 252, 255, 1);
}

.isi-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.isi-kiri {
    max-width: 600px;
}

.name {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--muted);
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin: 0 0 20px 0;
}

.accent {
    color: #5E3BEE;
}

.lead {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--muted);
}

/* .btn-get */
.button-get {
    background: #5E3BEE;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    display: grid;
    margin: auto;
}

.isi-kanan {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-card {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background: #eaf5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-card img {
    width: 80%;
    height: auto;
}

/* skill */
.skills {
    padding: 48px 0
}

.skills .small {
    color: var(--muted);
    margin: 0
}

.skills h2 {
    margin: 6px 0 18px
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px
}

.skill-card {
    background: var(--card-bg);
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(12, 37, 64, 0.06);
    text-align: left
}

.skill-card .icon {
    font-size: 20px;
    color: var(--primary);
    background: #f3f6ff;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px
}

.skill-card h3 {
    margin: 8px 0
}

.skill-card p {
    color: var(--muted);
    font-size: 14px
}

.about {
    padding: 48px 0
}
.about-kiri {
    flex: 1;
    padding-right: 40px;
}
.about-kiri h2 {
    margin-bottom: 18px;
}
.about-kiri p {
    color: var(--muted);
    line-height: 1.6;
}
.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    height:20px 0px;
}