body {
    background: black;
    margin-bottom: 100px;
}

h1 {
    color: green;
    text-align: center;
}

img {
    width: 600px;
    height: auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: auto;
    display: block;
}

h2 {
    color: green;
    text-align: justify;
}

p {
    color: white;
    text-align: justify;
}

ul {
    color: white;
}
.jam {
    text-align: justify;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background: black;
    margin-bottom: 100px;
}

h1 {
    color: green;
    text-align: center;
}

img {
    width: 600px;
    height: auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: auto;
    display: block;
}

h2 {
    color: green;
    text-align: justify;
}

p {
    color: white;
    text-align: justify;
}

ul {
    color: white;
}
.jam {
    text-align: justify;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}