.hero-banner {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #9B3083 0%, #E83F3F 60%, #FF9900 100%);
}

.hero-image {
    width: 400px;
    height: 400px;
    border-radius: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    color: #222;
}
p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}
.button-hire {
    background: #5E3BEE;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 15px;
    justify-content: right;
}
.button-CV {
    background: #fff;
    color: #5E3BEE;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #5E3BEE;

    
}
.button-hire:hover {
    background: #4b2ecc;
}
.button-CV:hover {
    background: #5E3BEE;
    color: #fff;
}