html,
body,
#flex-container {
    height: 100%;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    height: 100px;
    width: 100px;
    margin: 4px;
    padding: 20px;
    background-color: #ec5453;
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 100px;
}


