* {
    padding: 0;
    margin: 0;
}

header {
    background-color: violet;
    text-align: center;
    padding: 30px;
    color: white;
}

.gradients {
    color: white;
    height: 500px;
    padding: 100px;
    text-align: center;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
body {
    background-image: url('./ert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}