/*  */
p {
    color: red;

}
/* hexadesimal color */
h1 {
    color: #00ffff;
}
h2 {
    color: rgb(255, 8, 16);
}
div {
    background-color:rgb(255, 99, 71) ;
}
.hsl {
    background: hsl(120, 99%, 50%);
    padding: 60px;
    width: 200px;
    height: 200px;
}
.hsla {
    background: hsl(120, 99%, 50%);
    padding: 60px;
    width: 200px;
    height: 200px;
}


